<center><h2>Zarejestruj się</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <center>
  <div class="field">
    <label>Adres email</label>
	<br>
    <%= f.email_field :email, autofocus: true %>
  </div>
  </center>
  <center>
  <div class="field">
    <label>Hasło</label>
    <% if @minimum_password_length %>
    <em>(minimum <%= @minimum_password_length %> znaków)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </center>
  <center>	
  <div class="field">
   <label>Potwierdź hasło</label>
   <br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </center>
  <center>
  <div class="actions">
    <%= f.submit "Zarejestruj" %>
  </div>
  </center>
<% end %>
<center>
<%= render "devise/shared/links" %>
</center>
